---
import { getCollection } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderHeadline from "../components/HeaderHeadline.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const articles = await getCollection("articles", ({ data }) => {
  if (import.meta.env.DEV) {
    return true;
  }
  return data.pubDate < new Date() && data.draft !== true;
});

articles.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <HeaderHeadline />

    <main>
      <section>
        <ul>
          {
            articles.map(({ slug, data }) => (
              <li>
                <h3>
                  <a href={`/${slug}`}>{data.title}</a>
                </h3>
                <time datetime={data.pubDate.toString()}>
                  {new Date(data.pubDate).toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
                
                <p class="clamp">
                  { data.heroImage && <a href={`/${slug}`}><img class="thumb" width="160" height="90" loading="lazy" src=`/images/${data.heroImage}` /></a> }
                  { data.description || null }
                </p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>

    <Footer />

    <script>
      document.addEventListener(
        "error",
        (event) => {
          if (event.target.tagName.toLowerCase() !== "img") return;
          event.target.src = "/images/product-growth-with-ai-the-unstoppable-impact.png";
        },
        true,
      );
    </script>
  </body>
</html>
